@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
    background:white;
    color:black;
    font-family: poppins;
    background-color: bisque;
  }
  #heroText{
    display:flex; 
    flex-direction: row;
  
    justify-content: center; 
    font-size: xx-large;
    font-style: italic;
    font-family: "poppins";
  }
  #disclaimer2, 
  #disclaimer{ 
    display:flex; 
    flex-direction: row;
  
    justify-content: center; 
    font-size: medium;
    font-style: italic;
    font-family: "poppins";
  }
  .inputArea{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 40em;
    width: 40em;
    border-radius: 1.5rem;
    margin-left: 5em;
  }
  dialog{ 
  
    height: 60%;
    width: 30rem;
  }
  dialog::backdrop{
    backdrop-filter: blur(2px);
  }
  .resultsArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    height: 40em;
    width: 40em;
    border-radius: 1.5rem;
    margin-left: 5em;
    overflow: scroll;
  }
  .formHeader{
    display:flex; 
    flex-direction: row;
  
    justify-content: center; 
    font-size: large;
    font-style: italic;
    font-family: "poppins";
  
  }
  .inputHeader{
    display:flex; 
    flex-direction: row;
  
    justify-content: center; 
    font-size: large;
    font-style: italic;
    font-family: "poppins";
  }
  input, 
  select{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
  
  }
  
  
  tr, th{ 
    margin-right: 3rem;
  }
  table, th, td{ 
    border: 1px solid red; 
  
  }
  button{
    display: flex; 
    flex-direction: column;
   
    margin-top: 2rem;
    justify-self: center;
  
  
  }
  
  
  .customForm{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-style: italic;
    font-family: "poppins";
  
  }
  #displayContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  
   */
  /*Everything here is google fonts stuff for the poppins font*/ 
  /* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */